// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-all : white;
$color-bas: #164B60;
$color-another : #1B6B93;


$color-another-5 : rgba($color-another,.5);
$color-bas-6 : rgba($color-bas,.6);