.breadcrumb {
  background: #5A96E3;
}

.client .card-body {
  position: relative;
}
.client .card-body > div:nth-child(2) {
  background: linear-gradient(45deg, #164B60, #1B6B93);
}
.client .card-body .action {
  position: absolute;
  left: 90%;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13-5 {
  font-size: 13.5px !important;
}

.card .card-header .title {
  font-size: 12px;
}

#cheque {
  display: none;
}

.pagination {
  margin: 0 !important;
}
.pagination li {
  line-height: 8px;
}
.pagination li.disabled {
  line-height: 4px;
}
.pagination li a {
  font-size: 13px;
  padding: 6px 10px;
}
.pagination li.active > .page-link {
  padding: 6px 10px;
  font-size: 13px !important;
}

.select2-container--default .select2-selection--single {
  height: 2.15rem !important;
}

.select2-container--default .select2-selection--single {
  padding-top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 3px !important;
}
