table th {
  font-variant-caps: all-small-caps;
}

.breadcrumb {
  background: #07393C;
}
.breadcrumb li, .breadcrumb a {
  color: white;
  text-transform: uppercase;
}
.breadcrumb li.active {
  color: white;
  font-weight: bolder;
}
.breadcrumb li::before {
  padding: 0 5px 0 0 !important;
  color: white !important;
}

.client .card-body {
  position: relative;
}
.client .card-body > div:nth-child(2) {
  background: linear-gradient(45deg, #164B60, #1B6B93);
}
.client .card-body .action {
  position: absolute;
  left: 90%;
}

.pt-3px {
  padding-top: 3px;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-13-5 {
  font-size: 13.5px !important;
}

.card .card-header .title {
  font-size: 12px;
}

#cheque {
  display: none;
}

.pagination {
  margin: 0 !important;
}
.pagination li {
  line-height: 20px;
}
.pagination li a {
  font-size: 13px;
  padding: 6px 10px;
}
.pagination li.active > .page-link {
  padding: 6px 10px;
  font-size: 13px !important;
}

.select2-container--default .select2-selection--single {
  height: 2.15rem !important;
}

.select2-container--default .select2-selection--single {
  padding-top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 3px !important;
}
